<div class="comment-new-page">
   <form action="/<%= camp._id %>/comment" method="post">
      <div class="form-group">
         <h2 class="form-title">
            Create new comment
         </h2>
      </div>
      <div class="form-group">
         <label>Content</label>
         <textarea name="content"></textarea>
      </div>
      <div class="form-group">
         <input type="submit" value="Submit">
      </div>
   </form>

</div>