<div class="new-page">
   <form action="/" method="post">
      <div class="form-group">
         <h2 class="form-title">
            Create new campground
         </h2>
      </div>
      <div class="form-group">
         <label>Title</label>
         <input type="text" name="title">
      </div>
      <div class="form-group">
         <label>img</label>
         <input type="text" name="img">
      </div>
      <div class="form-group">
         <label>Description</label>
         <textarea name="desc"></textarea>
      </div>
      <div class="form-group">
         <input type="submit" value="Submit">
      </div>
   </form>

</div>

